.wrap
  width: 100%
  margin-top: 5%
  .table-bordered > tbody > tr, .table-bordered > tbody > th
    border: 3px solid black
  .table-bordered
    width: 70%
    margin-left: auto
    margin-right: auto
