<h3>What type of user are you?</h3>

<button type="button" id="customer-button">Customer</button>
<button type="button" id="farmer-button">Farmer</button>
<button type="button" id="roaster-button">Roaster</button>

<div class="form" id="customer-account">
  <div id="customer-form">
    <h1>Sign Up for a Customer Account</h1>
    <form action="/user/customers" method="post">
    <div class="top-row">
      <div class="field-wrap">
        <label for="street">Street<span class="req">*</span></label>
        <input type="text" required autocomplete="off" name="street" id="street"/>
      </div>
      <div class="field-wrap">
        <label for="city">City<span class="req">*</span></label>
        <input type="text"required autocomplete="off" name="city" id="city"/>
      </div>
    </div>
    <div class="field-wrap">
      <label for="state">State<span class="req">*</span></label>
      <input type="text"required autocomplete="off" name="state" id="state"/>
    </div>
    <div class="field-wrap">
      <label for="zip">Zip Code<span class="req">*</span></label>
      <input type="text"required autocomplete="off" name="zip" id="zip"/>
    </div>
    <div class="field-wrap">
      <label for="phone_number">Phone Number<span class="req">*</span></label>
      <input type="text"required autocomplete="off" name="phone_number" id="phone_number"/>
    </div>
    <button type="submit" class="button button-block"/>Get Started</button>
    </form>
  </div>
</div>

<div class="form" id="farmer-account">
  <div id="farmer-form">
    <h1>Sign Up for a Farmer Account</h1>
    <form action="/user/farmers" method="post">
    <div class="top-row">
      <div class="field-wrap">
        <label for="city">City<span class="req">*</span></label>
        <input type="text" required autocomplete="off" name="city" id="city"/>
      </div>
      <div class="field-wrap">
        <label for="country">Country<span class="req">*</span></label>
        <input type="text"required autocomplete="off" name="country" id="country"/>
      </div>
    </div>
    <div class="field-wrap">
      <label for="phone_number">Phone<span class="req">*</span></label>
      <input type="text"required autocomplete="off" name="phone_number" id="phone_number"/>
    </div>
    <div class="field-wrap">
      <label for="elevation">Elevation<span class="req">*</span></label>
      <input type="text"required autocomplete="off" name="elevation" id="elevation"/>
    </div>
    <div class="field-wrap">
      <label for="varietal">Varietal<span class="req">*</span></label>
      <input type="text"required autocomplete="off" name="varietal" id="varietal"/>
    </div>
    <div class="field-wrap">
      <label for="crop_cost">Crop Cost<span class="req">*</span></label>
      <input type="text"required autocomplete="off" name="crop_cost" id="crop_cost"/>
    </div>
    <div class="field-wrap">
      <label for="shipping_cost">Shipping Cost<span class="req">*</span></label>
      <input type="text"required autocomplete="off" name="shipping_cost" id="shipping_cost"/>
    </div>
    <button type="submit" class="button button-block"/>Get Started</button>
    </form>
  </div>
</div>

<div class="form" id="roaster-account">
  <div id="roaster-form">
    <h1>Sign Up for a Roaster Account</h1>
    <form action="/user/roasters" method="post">
    <div class="top-row">
      <div class="field-wrap">
        <label for="street">Street<span class="req">*</span></label>
        <input type="text" required autocomplete="off" name="street" id="street"/>
      </div>
      <div class="field-wrap">
        <label for="city">City<span class="req">*</span></label>
        <input type="text"required autocomplete="off" name="city" id="city"/>
      </div>
    </div>
    <div class="field-wrap">
      <label for="state">State<span class="req">*</span></label>
      <input type="text"required autocomplete="off" name="state" id="state"/>
    </div>
    <div class="field-wrap">
      <label for="zip">Zip Code<span class="req">*</span></label>
      <input type="text"required autocomplete="off" name="zip" id="zip"/>
    </div>
    <div class="field-wrap">
      <label for="phone_number">Phone Number<span class="req">*</span></label>
      <input type="text"required autocomplete="off" name="phone_number" id="phone_number"/>
    </div>
    <button type="submit" class="button button-block"/>Get Started</button>
    </form>
  </div>
</div>
