<form action="/users" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" id="email">

  <label for="password">password</label>
  <input type="password" name="password" id="password">

  <label for="user_type">Email</label>
  <select id="user_type">
    <option disabled="disabled">Select your user type</option>
    <option value="1">Customer</option>
    <option value="2">Roaster</option>
    <option value="3">Farmer</option>
  </select>

  <button type="submit" name="button">Create Account</button>
</form>
