<div class="homepage-background">
  <div class="wrapper">
    <div class="hero">
      <h1 class="homepage-title">Smug Mug</h1>
      <h2 class="homepage-subtitle">A coffee marketplace connecting farmers, roasters, and consumers</h2>
      <button type="button" name="button" class="btn btn-default signup-btn">Get Started</button>
    </div>
    <div class="boxes">
      <div class="box one">
        <h3 class="user-card">Farmers</h3>
      </div>
      <div class="box two">
        <h3 class="user-card">Roasters</h3>
      </div>
      <div class="box three">
        <h3 class="user-card">Customers</h3>
      </div>
    </div>
  </div>
</div>
