<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Roasters</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  </head>
  <body>

      <div class="card-deck-wrapper">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="/Users/Guest/desktop/smug-mug/public/img/product_image.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">TOBY'S ESTATE COFFEE ROASTERS</h4>
              <p class="card-text">Roast Date: 1/5/2016</p>
              <p class="card-text">varital: Harar</p>
              <p class="card-text">Notes: Lemon-Lime, currant, banana.</p>
            </div>
    </div>
    <div class="card">
      <img class="card-img-top" data-src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" data-src="..." alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
    </div>
  </body>
</html>
