<div class="form">
  <ul class="tab-group">
    <li class="tab active"><a href="#signup">Sign Up</a></li>
    <li class="tab"><a href="#login">Log In</a></li>
  </ul>
  <div class="tab-content">
    <div id="signup">
      <h1>Sign Up for an Account</h1>
      <form action="/signup" method="post">
        <div class="field-wrap">
          <label for="name">Name<span class="req">*</span></label>
          <input type="text" required autocomplete="off" name="name" id="name"/>
        </div>
      <div class="field-wrap">
        <label for="email">Email<span class="req">*</span></label>
        <input type="email" required autocomplete="off" name="email" id="email"/>
      </div>
      <div class="field-wrap">
        <label for="password">Password<span class="req">*</span></label>
        <input type="password" required autocomplete="off" name="password" id="password"/>
      </div>
      <button type="submit" id="signup-button" class="button button-block"/>Get Started</button>
      </form>
    </div>
    <div id="login">
      <h1>Welcome Back!</h1>
      <form action="/login" method="post">
        <div class="field-wrap">
          <label for="login-email">Email<span class="req">*</span></label>
          <input type="email" required autocomplete="off" name="login-email" id="login-email"/>
        </div>

      <div class="field-wrap">
        <label for="login-password">Password<span class="req">*</span></label>
        <input type="password" required autocomplete="off" name="login-password" id="login-password"/>
      </div>
      <button type="submit" id="login-button" class="button button-block"/>Log In</button>
      </form>
    </div>
  </div>
</div>
