<h1>Hi <%= @user.name() %></h1>

<a href="/customer/edit">Edit</a>

<form action="/user/roasters" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" name="button">DELETE ACCOUNT</button>
</form>
