<h2>Welcome, <%= @user.name %></h2>

<% if @user.user_type == "farmer" %>
  you are a farmer
<% elsif @user.user_type == "customer" %>
  <div id="roasters-loop">
    <% @users.each do |user| %>
      <% if user.user_type == "roaster" %>
        <a href="#"><%= user.name %></a>
      <% end %>
    <% end %>
  </div>
<% elsif @user.user_type == "roaster" %>
  <div id="farmers-loop">
    <% @users.each do |user| %>
      <% if user.user_type == "farmer" %>
        <a href="#"><%= user.name %></a>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h3>What type of user are you?</h3>

  <form action="/user/customers" method="post">
    <button type="submit">Customer</button>
  </form>

  <form action="/user/farmers" method="post">
    <button type="submit">Farmer</button>
  </form>

  <form action="/user/roasters" method="post">
    <button type="submit">Roaster</button>
  </form>
<% end %>
