<h1>Hi <%= @user.name() %></h1>

<a class="btn btn-default" role="button" href="/user_edit">Edit</a>

<form action="/user/roasters" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-default" type="submit" name="button">DELETE ACCOUNT</button>
</form>
