body {
  background: white; }

/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  font-size: 12px; }

.navbar {
  margin-bottom: 0; }
  .navbar .navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Righteous", cursive; }
  .navbar .nav li a {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold; }

html {
  height: 100%; }

.background {
  background-image: url("../../public/img/coffee-banner-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100%; }
  .background:before {
    content: "";
    width: 100%;
    min-height: 100%;
    background: white;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4; }

.wrap {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: 5%; }
  .wrap .table-bordered > tbody > tr, .wrap .table-bordered > tbody > th {
    border: 3px solid black; }
  .wrap .table-bordered {
    width: 60%;
    margin-left: auto;
    margin-right: auto; }

tr {
  font-size: 20px;
  font-family: "Lato", sans-serif; }
  tr th {
    font-weight: bold; }

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .wrapper h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 5% auto; }
  .wrapper .orders {
    width: 90%;
    min-width: 600px;
    height: 25em;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    .wrapper .orders .categories {
      width: 100%;
      height: 5%;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .wrapper .orders .categories li {
        list-style: none;
        width: 20%;
        height: auto;
        text-align: left;
        font-weight: bold; }
        .wrapper .orders .categories li .category {
          font-size: 14px;
          font-weight: bold; }
    .wrapper .orders .orders-list {
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .wrapper .orders .orders-list ul {
        width: 100%;
        height: 30%;
        margin: 0 0 5% 0;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .wrapper .orders .orders-list ul li {
          width: 20%;
          height: auto;
          font-size: 12px;
          display: flex;
          flex-direction: column; }
          .wrapper .orders .orders-list ul li p {
            font-size: 12px;
            margin-bottom: 7px; }
  .wrapper .inventory {
    display: none;
    width: 90%;
    min-width: 600px;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    .wrapper .inventory ul {
      width: 100%;
      height: 5%;
      display: flex;
      flex-direction: row; }
      .wrapper .inventory ul li {
        list-style: none;
        width: 16%;
        height: auto;
        text-align: left; }
        .wrapper .inventory ul li h2 {
          font-size: 14px;
          font-weight: bold;
          font-family: "Verdana", "Geneva", sans-serif; }
    .wrapper .inventory .inventory-list {
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .wrapper .inventory .inventory-list ul {
        width: 100%;
        height: 30%;
        margin: 0 0 5% 0;
        border: 2px solid lightgrey;
        border-radius: 2%;
        display: flex;
        flex-direction: row; }
        .wrapper .inventory .inventory-list ul li {
          width: 16%;
          height: auto;
          font-size: 12px;
          display: flex;
          flex-direction: column; }
          .wrapper .inventory .inventory-list ul li p {
            font-size: 14px;
            margin-bottom: 7px; }

.card-deck-wrapper {
  margin: 5%; }
  .card-deck-wrapper .card-deck {
    width: 90%;
    display: flex;
    justify-content: flex-start; }
    .card-deck-wrapper .card-deck img {
      border-radius: 10px;
      max-width: 70%;
      margin: auto;
      margin-top: 2%; }

.card-title {
  font-size: 17px;
  font-weight: bold; }

.card-text {
  margin-top: 3%;
  font-size: 14;
  font-weight: normal; }

footer {
  width: 100%;
  height: 100px;
  background-color: black;
  margin-top: 2%; }
  footer .footer {
    width: 50%;
    height: inherit;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; }
    footer .footer li {
      margin: 3%;
      font-size: 18px; }

.homepage-background .hero {
  width: 100%;
  height: 45em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background-image: url("../img/cover-img-coffee.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 10px 5px 5px grey; }
  .homepage-background .hero .homepage-title {
    font-size: 120px;
    text-align: center;
    font-family: "Righteous", cursive;
    text-transform: uppercase;
    color: white; }
  .homepage-background .hero .homepage-subtitle {
    font-size: 30px;
    margin-bottom: 2%;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: white; }
  .homepage-background .hero .signup-btn {
    display: flex;
    justify-content: center;
    background: #c4292a;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 180px;
    height: 50px;
    font-size: 20px; }
.homepage-background .boxes {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center; }
.homepage-background .box {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px 5px grey; }
  .homepage-background .box .user-card {
    width: 100%;
    height: 10%;
    color: white;
    font-size: 40px;
    font-family: "Abril Fatface", cursive;
    letter-spacing: 2px; }
.homepage-background .one {
  background: url("../img/grower_image_2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
.homepage-background .two {
  background: url("../img/product_image2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
.homepage-background .three {
  background: url("../img/coffee_drinker.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.gallery {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding: 1em; }

.item {
  flex: auto;
  width: 400px;
  margin: 2%; }

img {
  width: 100%;
  height: auto;
  border-radius: 10px; }

footer {
  display: flex;
  justify-content: center;
  background: black;
  height: 200px;
  width: 100%;
  text-align: center; }
  footer a {
    align-items: center; }

.card-deck-wrapper {
  margin: 5%; }

.card {
  text-align: center; }

p {
  font-weight: bold; }

img {
  border-radius: 10px;
  max-width: 70%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 1%; }

.gallery {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding: 1em; }
  .gallery .item {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    margin: 2%; }
    .gallery .item .center-block {
      border: 3px solid black; }
    .gallery .item .image {
      width: 350px;
      height: 350px;
      margin-bottom: 2%; }
      .gallery .item .image img {
        max-width: 100%;
        height: auto;
        border-radius: 10px; }

.text-center {
  color: black;
  text-align: center;
  font-size: 18px; }
  .text-center a {
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 24px; }

footer {
  display: flex;
  justify-content: center;
  background: black;
  height: 200px;
  width: 100%;
  text-align: center; }
  footer a {
    align-items: center; }

.customer-profile {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: black;
  margin-top: 5%; }

.gallery {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding: 1em; }
  .gallery .item {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    margin: 2%; }
    .gallery .item .image {
      width: 350px;
      height: 350px;
      margin-bottom: 2%; }
      .gallery .item .image img {
        max-width: 100%;
        height: auto;
        border-radius: 10px; }
    .gallery .item .text {
      width: 350px;
      height: 50px;
      text-align: center; }
      .gallery .item .text .roast-name {
        margin-bottom: 1%; }
      .gallery .item .text .roast-flavor {
        margin-bottom: 2%;
        font-size: 18px; }
      .gallery .item .text .roast-price {
        font-size: 18px; }

.card-title {
  color: orange;
  font-size: 17px;
  font-weight: bold;
  margin-top: 3%; }

footer {
  display: flex;
  justify-content: center;
  background: black;
  height: 200px;
  width: 100%;
  text-align: center; }
  footer a {
    align-items: center; }

.card-deck-wrapper {
  margin: 5%; }

.card {
  text-align: center; }

p {
  font-weight: bold; }

img {
  border-radius: 10px;
  max-width: 70%;
  margin: auto;
  margin-top: 2%; }

.roast-name {
  font-weight: bold;
  font-size: 11px; }

.roast-flavor {
  font-weight: bold; }

.roast-price {
  font-weight: bold; }

.roaster-profile {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: black;
  margin-top: 5%; }

.manage-orders {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: black;
  margin-top: 5%; }

body {
  background: white; }

/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  font-size: 12px; }

.navbar {
  margin-bottom: 0; }
  .navbar .navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Righteous", cursive; }
  .navbar .nav li a {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold; }

html {
  height: 100%; }

.background {
  background-image: url("../../public/img/coffee-banner-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100%; }
  .background:before {
    content: "";
    width: 100%;
    min-height: 100%;
    background: white;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4; }

.wrap {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: 5%; }
  .wrap .table-bordered > tbody > tr, .wrap .table-bordered > tbody > th {
    border: 3px solid black; }
  .wrap .table-bordered {
    width: 60%;
    margin-left: auto;
    margin-right: auto; }

tr {
  font-size: 20px;
  font-family: "Lato", sans-serif; }
  tr th {
    font-weight: bold; }

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .wrapper h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 5% auto; }
  .wrapper .orders {
    width: 90%;
    min-width: 600px;
    height: 25em;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    .wrapper .orders .categories {
      width: 100%;
      height: 5%;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .wrapper .orders .categories li {
        list-style: none;
        width: 20%;
        height: auto;
        text-align: left;
        font-weight: bold; }
        .wrapper .orders .categories li .category {
          font-size: 14px;
          font-weight: bold; }
    .wrapper .orders .orders-list {
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .wrapper .orders .orders-list ul {
        width: 100%;
        height: 30%;
        margin: 0 0 5% 0;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        border-radius: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .wrapper .orders .orders-list ul li {
          width: 20%;
          height: auto;
          font-size: 12px;
          display: flex;
          flex-direction: column; }
          .wrapper .orders .orders-list ul li p {
            font-size: 12px;
            margin-bottom: 7px; }
  .wrapper .inventory {
    display: none;
    width: 90%;
    min-width: 600px;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    .wrapper .inventory ul {
      width: 100%;
      height: 5%;
      display: flex;
      flex-direction: row; }
      .wrapper .inventory ul li {
        list-style: none;
        width: 16%;
        height: auto;
        text-align: left; }
        .wrapper .inventory ul li h2 {
          font-size: 14px;
          font-weight: bold;
          font-family: "Verdana", "Geneva", sans-serif; }
    .wrapper .inventory .inventory-list {
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      .wrapper .inventory .inventory-list ul {
        width: 100%;
        height: 30%;
        margin: 0 0 5% 0;
        border: 2px solid lightgrey;
        border-radius: 2%;
        display: flex;
        flex-direction: row; }
        .wrapper .inventory .inventory-list ul li {
          width: 16%;
          height: auto;
          font-size: 12px;
          display: flex;
          flex-direction: column; }
          .wrapper .inventory .inventory-list ul li p {
            font-size: 14px;
            margin-bottom: 7px; }

.card-deck-wrapper {
  margin: 5%; }
  .card-deck-wrapper .card-deck {
    width: 90%;
    display: flex;
    justify-content: flex-start; }
    .card-deck-wrapper .card-deck img {
      border-radius: 10px;
      max-width: 70%;
      margin: auto;
      margin-top: 2%; }

.card-title {
  font-size: 17px;
  font-weight: bold; }

.card-text {
  margin-top: 3%;
  font-size: 14;
  font-weight: normal; }

footer {
  width: 100%;
  height: 100px;
  background-color: black;
  margin-top: 2%; }
  footer .footer {
    width: 50%;
    height: inherit;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; }
    footer .footer li {
      margin: 3%;
      font-size: 18px; }

/*# sourceMappingURL=main.css.map */
