.gallery
  display: flex
  justify-content: space-between
  flex-wrap: no-wrap
  margin: 1em 0
  padding: 1em

.item
  flex: auto
  width: 400px
  margin: 2%

img
  width: 100%
  height: auto
  border-radius: 10px

footer
  display: flex
  justify-content: center
  background: black
  height: 200px
  width: 100%
  text-align: center
  a
    align-items: center
