.hero
  width: 100%
  height: auto
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: center
  position: relative
  background-image: url("../img/main-img.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  .homepage-title
    font-size: 92px
    text-align: center
  .homepage-subtitle
    font-size: 36px
    margin-bottom: 3%
    text-align: center
  .signup-btn
    display: flex
    justify-content: center
    background: lighten(firebrick, 20%)
    color: white
    margin-top: 5%
    margin-bottom: 5%
    width: 150px
    height: 75px
    font-size: 20px

.boxes
  width: 100%
  height: 500px
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-around
  border: 2px dotted orange
.box
  width: 400px
  height: auto
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  border: 2px dotted orange
  text-align: center
  .user-card
    align-self: center
  img
    width: 50%
    height: auto
    margin-top: auto
    margin-bottom: auto
