<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Roasters</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="/Users/Guest/desktop/smug-mug/public/img/product_image.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">TOBY'S ESTATE COFFEE ROASTERS</h4>
            <p class="card-text">Roast Date: 1/5/2015</p>
            <p class="card-text">varital: Harar</p>
            <p class="card-text">Notes: Lemon-Lime, currant, banana.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/Users/Guest/desktop/smug-mug/public/img/product_image2.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">ONYX COFFEE LAB</h4>
            <p class="card-text">Roast Date: 4/9/2015</p>
            <p class="card-text">varital: Harar</p>
            <p class="card-text">Notes: Raspberry, honey, pear.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/Users/Guest/desktop/smug-mug/public/img/product_image3.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">TINKER COFFEE CO.</h4>
            <p class="card-text">Roast Date: 1/12/2015</p>
            <p class="card-text">varital: Harar</p>
            <p class="card-text">Notes: Orange blossom, cocoa & cranberry streusel.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
